{% extends "navbar.html" %}

{% block content %}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <!-- <ul class="nav nav-tabs" role="tablist">
              <li  class="nav-item">
                  <a class="nav-link  " id="home-tab" href="{% url 'customers' %}" role="tab" aria-controls="Overview" aria-selected="true">Privileged Customers</a>
              </li>
              <li  class="nav-item">
                  <a class="nav-link "  id="profile-tab" href="{% url 'customerform' %}">Add Customer</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active text-white border-0" style="background-color: #1f3bb3;border-radius:5px;" href="{% url 'addmultiplecustomersform' %}">Add Mulitiple Entries</a>
              </li>
          
          </ul> -->


          <nav class="nav nav-borders">
           
           
         
            <a class="nav-link active ps-0 pe-0 ms-0 me-3" style="color:#444;" ;" href="{% url 'purchase' %}"> Purchase List </a>
                  <a class="nav-link ps-0 pe-0 ms-3 me-3" style="color:#444;"  href="{% url 'purchaseform' %}">Purchase Entry</a>
                  <a class="nav-link ps-0 pe-0 ms-3 me-3" style="color:#444;"  href="{% url 'purchasereturn' %}">Purchase Return</a>
                  <a class="nav-link active ps-0 pe-0 ms-3 me-3" style="color: #4555B9 ; border-bottom:2px solid #4555B9;"  href="#"> Mulitiple Entries  </a>
        </nav>

<!-- <hr class="mt-0 mb-4"> -->


          </div>
          <br>
          <!-- <br> -->
          <!-- <div class="btn-wrapper d-flex justify-content-between mt-4 pt-3">
            <div>
                <h4 class="card-title card-title-dash fs-4 nunito-font" style="color:#444;"><strong>Multiple Customer Entry</strong></h4>
            </div>

           
            <a href="{% url 'customers' %}" class="btn back-btn me-0" style="border-width: 1px; background-color: white; border-color: #1f3bb3; color: #1f3bb3;">
                <strong> <i class="fa-solid fa-rotate-left"></i>Back</strong>
            </a>
        </div> -->











        <div class="card  mb-4" style="border-radius:5px;border:0.5px solid #e2e2e2;">
          <div class="card-header py-3" style="background-color:#fff;">
              <h5 class="m-0 font-weight-bold " style="color:#2c2e2f"> <strong>Bulk Purchase Entry</strong> </h5>
          </div>
          <div class="card-body">
              <!-- <div class="table-responsive"> -->


                <div class="row   mt-3">
                  <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                    <div>
                      
                  <ul class="no-bullet">
                    <li>
                      <p>Step 1: Download the CSV file <a href="{% url 'downloadbulkpurchaseformcsv' %}">here</a></p>
                    </li>
                    <li>
                      <p>Step 2: Populate the CSV file (Replace the sample data added in the CSV)</p>
                    </li>
                    <li>
                      <p>Step 3: Select the populated CSV file</p>
                    </li>
                    <li>
                      <p>Step 4: Click on import</p>
                    </li>
                  </ul>
                </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="row">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <form action="{% url 'addbulkpurchaseform' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="multipurchase" id="multipurchase" class="form-control multicustomers center-file-input-text">
                            <!-- <div class="pt-3 d-flex gap-2 align-items-center">
                              <input class="form-check-input" type="checkbox" value="stock" id="stockpurchase" name="stockpurchase" >
                              <p class="p-0 m-0 fw-bold">
                                Add only in Stock
                              </p>
                            </div> -->
                           
                            <br>
                            <button type="submit" class="btn btn-primary text-white ;">Import</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                  {% if error %}
                  <div style="padding-left:14px;">
                    <strong><p style="font-size:16px;color:red;">Import errors</p></strong>
                  <ul>
                    {% for err in error %}
                    <li>
                      <p>  {{err}}</p>
                    </li>
                    {% endfor %}
                  </ul>
                  </div>
                {% endif %}
                {% if saved %}
                <div style="padding-left:14px;">
                  <strong><p style="font-size:16px;color:green;">Successfull !</p></strong>
                <ul>
                  {% for svd in saved %}
                  <li>
                    <p>{{svd}}</p>
                  </li>
                  {% endfor %}
                </ul>
                </div>
              {% endif %}
                {% if response %}
                  <div style="padding-left:14px;">
                    <strong><p style="font-size:16px;color:green;">Successfull !</p></strong>
                  <ul>
                    {% for err in response %}
                    <li>
                      <p>{{err}}</p>
                    </li>
                    {% endfor %}
                  </ul>
                  </div>
                {% endif %}


                <!-- </div> -->
              </div>
            </div>











<!-- 

          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
              <div class="card card-rounded" style="border: 0.5px solid #cfcfcf; border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;">
                <div class="card-body" >
                  
                
                  <div class="row   mt-3">
                  <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                    <div>
                      
                  <ul class="no-bullet">
                    <li>
                      <p>Step 1: Download the CSV file <a href="{% url 'downloadcustomerformcsv' %}">here</a></p>
                    </li>
                    <li>
                      <p>Step 2: Populate the CSV file (Replace the sample data added in the CSV)</p>
                    </li>
                    <li>
                      <p>Step 3: Select the populated CSV file</p>
                    </li>
                    <li>
                      <p>Step 4: Click on import</p>
                    </li>
                  </ul>
                </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="row">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <form action="{% url 'addmultiplecustomersform' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="multicustomers" id="multicustomers" class="form-control multicustomers center-file-input-text">
                            <br>
                            <button type="submit" class="btn btn-primary text-white ;">Import</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                  {% if error %}
                  <div style="padding-left:14px;">
                    <strong><p style="font-size:16px;color:red;">Import errors</p></strong>
                  <ul>
                    {% for err in error %}
                    <li>
                      <p>An error occured while adding  {{err}}</p>
                    </li>
                    {% endfor %}
                  </ul>
                  </div>
                {% endif %}




                </div>
              </div>
            </div>
          </div> -->








          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
{% endblock %}
