{% extends "navbar.html" %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <nav class="nav nav-borders">
              <a class="nav-link active ps-0 pe-0 ms-0 me-3"  style="color: #4555B9 ; border-bottom:2px solid #4555B9;"   href="">Branch Details</a>
              <a class="nav-link ps-0 pe-0 ms-3 me-3" style="color:#444;"  href="{% url 'branch' %}">Branch List</a>  
          </nav>
          </div>
          <br>





          <div class="card-body d-flex justify-content-center">
                                                                                           
            <div class="col-lg-9 col-md-6 col-sm-12">
        
                <div class="card card-rounded p-3 mb-4 card-border-dark" style="border-radius:5px;border:0.5px solid #e2e2e2;">
                  <div class="card-body" >
                   
                    <div class="d-flex justify-content-between">
                      <h3 class="nunito-font " style="color:#444;" ><strong>Edit Branch</strong></h3>
                      <div>
                        {% if messages %}
                          {% for message in messages %}
                            <span class="text-danger" style="font-size: 13px; ">{{ message }}</span>
                          {% endfor %}
                        {% endif %}
                      </div>

                    </div>
                   
                    <div class="horizontal-line-dark mb-2 mt-4"></div>
                    <br />
  
                    <form action="{% url 'updatebranch' id=branch.id %}" method="POST">
                      {% csrf_token %}

                      <div class="form-row row">
                       <div class="form-group col-lg-4">
                         <label for="name" class="fs-6"
                           >Name</label
                         >
                      
                       </div>
                       <div class="form-group col-lg-8">

                        <input class="form-control " type="text" name="name" value="{{branch.name}}">
                       
                       </div>
                     </div>



                     <div class="form-row row">
                      <div class="form-group col-lg-4">
                        <label for="name" class="fs-6"
                          >Phone</label
                        >
                     
                      </div>
                      <div class="form-group col-lg-8">

                       <input class="form-control " type="number" name="phone" value="{{branch.phone}}">
                      
                      </div>
                    </div>



                     <div class="form-row row">
                      <div class="form-group col-lg-4">
                        <label for="branchtype" class="fs-6"
                          >Branch Type</label
                        >
                     
                      </div>
                      <div class="form-group col-lg-8">

                       <select  class=" form-control selectizefield" name="branchtype" id="branchtype">
                         <option selected value="{{branch.branchtype}}">{{branch.branchtype}}</option>
                         <!-- <option value="Franchise">Franchise</option>
                         <option value="Own">Own</option> -->
                       </select>
                      
                      </div>
                    </div>


                    <div class="form-row row">
                      <div class="form-group col-lg-4">
                        <label for="branchcategory" class="fs-6"
                          >Branch Category</label
                        >
                     
                      </div>
                      <div class="form-group col-lg-8">

                       <select  class=" form-control selectizefield" name="branchcategory" id="branchcategory">
                         <option selected value="{{branch.branchcategory}}">{{branch.branchcategory}}</option>
                         <!-- <option value="Standard">Standard</option>
                         <option value="Advanced">Advanced</option> -->
                       </select>
                      
                      </div>
                    </div>



                    <div class="form-row row">
                      <div class="form-group col-lg-4">
                        <label for="gstin" class="fs-6"
                          >VAT Number</label
                        >
                     
                      </div>
                      <div class="form-group col-lg-8">

                       <input class="form-control " type="text" name="gstin" value="{{branch.gstin}}">
                      
                      </div>
                    </div>



                    <div class="form-row row">
                      <div class="form-group col-lg-4">
                        <label for="name" class="fs-6"
                          >Address</label
                        >
                     
                      </div>
                      <div class="form-group col-lg-8">

                        <textarea value="{{branch.address}}"   class="form-control "  style="height:106px;" name="address"  id="address" column="10" rows="3">{{branch.address}}</textarea>
                      
                      </div>
                    </div>


                     <div class="horizontal-line-dark mt-2"></div>
                     
  
                      <button
                        type="submit"
                        class="btn btn-primary text-white mb-1 mt-3 fs-6"
                      >
                        Save
                      </button>
                    </form>
                  </div>
                </div>
              </div>
        </div>







          <!-- <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="card-title card-title-dash">Update Branch</h4>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3">
                    <form action="{% url 'updatebranch' id=branch.id %}" method="POST">
                      {% csrf_token %}
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr class="table-primary">
                              <th>Name</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <input class="form-control" type="text" name="name" value="{{branch.name}}">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <button type="submit" class="btn btn-primary text-white mb-2">Update</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
{% endblock %}
