{% extends "navbar.html" %}

{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">

           <nav class="nav nav-borders">
            <a class="nav-link active ps-0 pe-0 ms-0 me-3" style="color: #4555B9 ; border-bottom:2px solid #4555B9;" href="">Account Heads</a>
            <a class="nav-link ps-0 pe-0 ms-0 me-3" style="color:#444;"  href="{% url 'chartofaccountsform' %}">Add Account Head</a>  
        </nav>
          </div>
       <br>
     

       <div class="card  mb-4" style="border-radius:5px;border:0.5px solid #e2e2e2;">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold " style="color:#2c2e2f"> <strong>Account Heads</strong> </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">




                      <table class="add-pagination branch_list table-bordered table table-striped">
                        <thead>
                          <tr>
                            <th width="5">Sl</th>
                            <th width="30%">Head Title</th>
                            <th width="30%">Head Group</th>
                            <th width="30%">Head Description</th>
                     <th width="5">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                         
                          {% for item in rootsubcoa %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ item.title }} </td>
                            <td>{{ item.head_root }} </td>
                            <td>{{ item.description }} </td>
                            <td class="d-flex gap-3">
<!-- <a href="{% url 'deletechartofaccounts' id=item.id %}" data-toggle="tooltip" data-placement="top" title="Delete" class="text-decoration-none label-purchase-view "><i class="fa-solid fa-trash"></i></a> -->
<a href="{% url 'editchartofaccounts' id=item.id %}" data-toggle="tooltip" data-placement="top" title="Edit" class="text-decoration-none label-purchase-view"><i class="fa-solid fa-pen-to-square"></i></a>
                            </td>
                          </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                    </div>

            </div>
          </div>
          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
