
{% extends "navbar.html" %}

{% block content %}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            


            <nav class="nav nav-borders">
              <a class="nav-link active ps-0 pe-0 ms-0 me-3" style="color:#444;"    href="{% url 'settings' %}">Company Settings </a>
              <a class="nav-link ps-0 pe-0 ms-3 me-3"   style="color: #4555B9 ; border-bottom:2px solid #4555B9;"   href="{% url 'customersettings' %}">Customer Settings</a>
              <a class="nav-link ps-0 pe-0 ms-3 me-3"  style="color:#444;"   href="{% url 'servicesettings' %}">Service Settings</a>
              
  
             
          </nav>


          </div>
          <br>
      
          <div class="row">
            
            
            <div class="col-lg-4 col-md-4 col-sm-12 ">
              <div class="card card-rounded p-3" style="border-radius:5px;border:0.5px solid #e2e2e2;">
                  <div class="card-body">
                    <h5 class="card-title heading-color" ><strong>Customer Id Prefix</strong> </h5>
                    <!-- <hr class="horizontal-line"> -->
                    <div class="horizontal-line-dark mb-4 mt-2"></div>
                    <!-- <br> -->
                    <p class="card-text"> <strong> Prefix  :</strong> {{customer_id_prefix}}</p>
                    
                
                    <form  action="{% url 'editcustomeridprefix' %}" method="post">{% csrf_token %}
                      <input type="text" name="prefix" id="prefix" class="form-control">
                      <br>
                      <div class="horizontal-line-dark mb-3 mt-4"></div>
                    <button type="submit" class="btn btn-primary text-white mb-2;">Save Change</button>
                  </form>
                  </div>
              </div>
            </div>
       
            
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->
{% endblock %}






