{% extends "navbar.html" %}
{% block content %}

{% load deletespace %}
<!-- partial -->
<div class="main-panel">
   <div class="content-wrapper ">
      <div class="row">
         <div class="col-sm-12">
            <div class="home-tab">
               <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  
              

                <nav class="nav nav-borders">
                    <a class="nav-link ps-0 pe-0 ms-0 me-3" style="color:#444;"  href="{% url 'expense' %}">Expense List</a>
                    <a class="nav-link active ps-0 pe-0 ms-3 me-3" style="color: #4555B9 ; border-bottom:2px solid #4555B9;" href=""> Expense Entry </a>
                 
        
                   
                </nav>



     
               </div>

               <br>
         







               

            
                        <div class="card-body d-flex justify-content-center">
                       
                           
                           
                          
                          

                            <div class="col-lg-9 col-md-6 col-sm-12">
                        
                                <div class="card card-rounded p-3 mb-4 card-border-dark" style="border-radius:5px;border:0.5px solid #e2e2e2;">
                                  <div class="card-body" >
                                    <h3 class="nunito-font " style="color:#444;" ><strong>Expense Details</strong></h3>
                                   
                                    <div class="horizontal-line-dark mb-2 mt-4"></div>
                                    <br />
                  
                                    <form
                                      action="{% url 'addexpense' %}"
                                      method="post"
                                      enctype="multipart/form-data"
                                    >
                                      {% csrf_token %}
         
                                      
                  
                                      <div class="form-row row">
                                        <div class="form-group col-lg-4">
                                          <label for="paymentdate" class="fs-6"
                                            >Payment Date</label
                                          >
                                         
                                        </div>
                                        <div class="form-group col-lg-8">
                                        
                                          <!-- <input
                                            type="date"
                                            name="paymentdate"
                                            id="paymentdate"
                                            class="form-control cmp-input"
                                            value=""
                                            
                                         
                                          /> -->

                                          <div id="datepicker" 
                          name="paymentdate"
             class="input-group date datepicker-field" 
             
         
             data-date-format="dd-mm-yyyy">
            <input
            required 
             class="form-control " 
            autocomplete="off"
            name="paymentdate"
            style="width:1000%;"
           
      
                   type="text"    />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
                                        </div>
                                      </div>

                                      <div class="form-row row">
                                        <div class="form-group col-lg-4">
                                          <label for="billnumber" class="fs-6"
                                            >Bill Number</label
                                          >
                                         
                                        </div>
                                        <div class="form-group col-lg-8">
                                        
                                          <input
                                          required
                                            type="text"
                                            name="billnumber"
                                            id="billnumber"
                                            class="form-control cmp-input "
                                            value=""
                                      
                                      
                            
                              
                                          />
                                        </div>
                                      </div>

                          
                                     <div class="form-row row">
                                        <div class="form-group col-lg-4">
                                          <label for="expensecategory" class="fs-6"
                                            >Expense Category</label>
                                        </div>
                                        <div class="form-group d-flex flex-row align-items-center justify-content-center  col-lg-8">
          
                                          <select required  style=" border:1px solid #dee2e6;" class="form-control selectizefield" name="expensecategory" id="expensecategory">
                                            <option value="" >Select Category</option>

                                            {% for category in expense_category %}
                                            <option value="{{category}}" >{{category}}</option>
                                            {% endfor %}
                                          </select>
                                          <i data-toggle="modal" data-target="#expensecategorymodal" class="fa-solid ms-2 fa-plus addcategorybtn"></i>
                                          
                                          

                                        
                                       
                                        </div>
                                      </div>

                                      <div class="form-row row">
                                        <div class="form-group col-lg-4">
                                          <label for="expensetype" class="fs-6">Expense Type</label >

                                        </div>
                                        <div class="form-group d-flex flex-row align-items-center justify-content-center col-lg-8">
          
                                          <select required  style=" border:1px solid #dee2e6;" class="form-control selectizefield" name="expensetype" id="expensetype">
                                             <option value="" >Select Type</option>
                                            
                                          </select>
                                          <i data-toggle="modal" data-target="#expensetypemodal" class="fa-solid ms-2 fa-plus addcategorytypebtn"></i>
                                        
                                   
                                        </div>
                                      </div>

                                     <div class="form-row row">
                                       <div class="form-group col-lg-4">
                                         <label for="paidamount" class="fs-6"
                                           >Paid Amount</label
                                         >
                                        
                                       </div>
                                       <div class="form-group col-lg-8">
                                       
                                         <input
                                         required
                                           type="number"
                                           name="paidamount"
                                           id="paidamount"
                                           class="form-control cmp-input "
                                           value=""
                                           step="0.01"
                                           min="0"
                                          
                           
                             
                                         />
                                       </div>
                                     </div>

                                     <div class="form-row row">
                                        <div class="form-group col-lg-4">
                                          <label for="paymentmode" class="fs-6"
                                            >Payment Mode</label
                                          >
                                         
                                        </div>
                                        <div class="form-group col-lg-8">
          
                                          <select required  style=" border:1px solid #dee2e6;" class="form-control" name="paymentmode" id="paymentmode">
                                            {% for mode in paymentmode %}
                              <option value="{{mode.name}}">{{mode.name}}</option>
                              {% endfor %}
                                           
                                          </select>
                                        
                                       
                                        </div>
                                      </div>

  
                                      <div class="form-row row">
                                       <div class="form-group col-lg-4">
                                         <label for="remarks" class="fs-6"
                                           >Remarks</label
                                         >
                                      
                                       </div>
                                       <div class="form-group col-lg-8">

                                        <textarea required   class="form-control "  style="height:106px;" name="remarks"  id="remarks" column="10" rows="3"></textarea>
                                        <!-- <textarea  class="form-control" style="height:106px;  border:1px solid #dee2e6;" name="remarks" id="remarks"  rows="10"></textarea> -->
                                       
                                       </div>
                                     </div>
                                     <div class="horizontal-line-dark mt-2"></div>
                                     
                  
                                      <button
                                        type="submit"
                                        class="btn btn-primary text-white mb-1 mt-3 fs-6"
                                      >
                                        Save Expense
                                      </button>
                                    </form>
                                  </div>
                                </div>
                              </div>




                        </div>
                     <!-- </div>
                  </div>
               </div> -->
               <!-- </div> -->
            </div>
            <div class="row flex-grow">
               <div class="col-12 grid-margin stretch-card">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
</div>
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->

<div class="modal fade modalexpensecategory" tabindex="-1" id="expensecategorymodal">
  <div class="modal-dialog">
    <div class="modal-content p-0 w-100">
      <div
        class="modal-header d-flex justify-content-between align-items-center m"
        style="background-color:#4555B9;"
        >
        <h5 class="modal-title text-white"><strong>Expence Category</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <hr class="horizontal-line" /> -->
      <form action="{% url 'addexpensecategory' %}" method="POST">
        {% csrf_token %}
        <div
          class="modal-body d-flex align-items-center justify-content-between mt-3 mb-3"
        >
          <input placeholder="Category.." type="text" name="name" class="form-control me-3 " />
          <button type="submit" class="btn btn-primary p-2 ps-3 pe-3">
            Add
          </button>
         
        </div>
        <div class="modal-footer">

        </div>
      </form>
      <!-- <hr class="horizontal-line" /> -->
    </div>
  </div>
</div>



<div class="modal fade modalexpensecategorytype" tabindex="-1" id="expensetypemodal">
  <div class="modal-dialog">
    <div class="modal-content p-0 w-100">
      <div
        class="modal-header d-flex justify-content-between align-items-center m"
        style="background-color:#4555B9;"
        >
        <h5 class="modal-title text-white"><strong>Expence Type</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <hr class="horizontal-line" /> -->
      <form action="{% url 'addexpensecategorytype' %}" method="POST">
        {% csrf_token %}
        <div
          class="modal-body mt-3 mb-3"
        >
          <input autocomplete="off"  placeholder="Type.." type="text" name="name" class="form-control mb-3  text-center" />

          <select style=" border:1px solid #dee2e6;" class="form-control mb-3 selectizefield" name="category" id="category">
            <option value="">Select Category..</option>
            {% for category in expense_category %}
            <option value="{{category}}">{{category}}</option>
            {% endfor %}
          </select>
          <button style="float:right;" type="submit" class="btn btn-primary p-2 ps-3 pe-3">
            Add
          </button>
         
        </div>

        <div class="modal-footer">

        </div>
      </form>
      <!-- <hr class="horizontal-line" /> -->
    </div>
  </div>
</div>


{% endblock %}