{% extends "navbar.html" %}

{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">

           <nav class="nav nav-borders">
            <a class="nav-link ps-0 pe-0 ms-0 me-3" style="color: #444 ; " href="{% url 'accounts' %}">Transactions</a>
            <a class="nav-link ps-0 pe-0 ms-3 me-3" style="color:#444;"  href="{% url 'cashbook' %}">Cash book</a>
            <a class="nav-link active ps-0 pe-0 ms-3 me-3" style="color:#4555B9; border-bottom:2px solid #4555B9"  href="">General Ledger</a>

        </nav>
          </div>
       <br>
     

       <div class="card  mb-4" style="border-radius:5px;border:0.5px solid #e2e2e2;">
        <div class="card-header py-3 d-flex justify-content-between bg-white">
            <h5 class="m-0 font-weight-bold " style="color:#2c2e2f"> <strong>General Ledger </strong> </h5>


            <div class="d-flex align-items-center gap-3">

                      
              <i id="fa-magnifying-glass-moneyreciept"   data-toggle="modal" data-target="#ledgersearch" class="fa-solid fa-magnifying-glass  fs-4"></i>

              <a class="moneyreciept-clear" href="{% url 'general_ledger_new' %}">Clear</a>
           </div>
        </div>
        <div class="card-body">

   




            <div class="table-responsive">




                      <table class="add-pagination-ledger branch_list table-bordered table table-striped">
                        <thead>
                          <tr>
                            <th width="5%">Date</th>
                            <th width="5%">Voucher No</th>
                            <th width="5%">Sub Group</th>
                            <th width="5%">Ledger</th>
                            <th width="5%">Voucher Type</th>
                            <th width="5%">Debit</th>
                            <th width="5%">Credit</th>
                            <!-- <th width="5%">Customer/Vendor</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          
                          {% for item in gl_obj %}
                          <tr>
                            <td>{{ item.date }} </td>
                            <td>{{ item.voucher_no }} </td>
                            <td>{{ item.ledger }} </td>
                            <td>{{ item.subledger }} </td>
                            <td>{{ item.voucher_type }} </td>
                            {% if item.amount_type == "Debit" %}
                            <td>{{ item.amount  | floatformat:2 }} </td>
                            <td></td>
                            {% else %}
                            <td></td>  
                            <td>{{ item.amount  | floatformat:2 }} </td> 
                            {% endif %}
                          
                            
                            <!-- <td>{{ item.customer_or_vendor }} </td> -->
                          </tr>
                          {% endfor %}

                        </tbody>
                        {% if search == 'Yes' %}
                        <tfoot style="border-top:none;background-color: #d7dae8;">
                          <tr>
                            <td colspan="3"></td>
                        
                            <td colspan="2" class="sl fw-bold text-end">Balance</td>
                            <td colspan="2" class="sl text-end">{{balance | floatformat:2}}</td>
                          </tr>
                        </tfoot>
                        {% endif %}
                      </table>
                    </div>

            </div>
          </div>
          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" tabindex="-1" id="ledgersearch">
  <div class="modal-dialog">
    <div class="modal-content w-100">
      <div
        class="modal-header d-flex justify-content-between align-items-center m"
      >
        <h5 class="modal-title"><strong>Search General Ledger</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
      </div>
    
      <form action="{% url 'general_ledger_new' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">

         
          <div class="form-group">
            <label for="head" class="fw-bold">Sub Group</label>
            <select class="selectizefield" name="acc_group" id="acc_group">
             
              <option value="">Select Sub Group</option>
              {% for item in all_ledgers %}
              <option value="{{item.id}}">{{item.name}}</option>
              {% endfor %}
             
             
             
            </select>
          </div>

          <div class="form-group">
            <label for="head" class="fw-bold">Ledger</label>
            <select class="selectizefield" name="acc_ledger" id="acc_ledger">
             
              <option value="">Select Ledger</option>
              {% for item in all_subledgers %}
              <option value="{{item.id}}">{{item.title}}</option>
              {% endfor %}
             
             
             
            </select>
          </div>

          <div class="form-group">
            <label for="head" class="fw-bold">Voucher No</label>
            <select class="selectizefield" name="voucher_nos" id="voucher_nos">
             
              <option value="">Select Voucher No</option>
              {% for item in all_voucher_nos %}
              <option value="{{item}}">{{item}}</option>
              {% endfor %}
             
             
             
            </select>
          </div>

           
             <div class="form-group">
               <label for="supplier_customer"  class="fw-bold">Start Date</label>
               <div id="datepicker" 
                          
               class="input-group date datepicker-field" 
               data-date-format="dd-mm-yyyy">
              <input class="form-control " 
              name="startdate"
              autocomplete="off" 
            
                     type="text"  />
              <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
              </span>
          </div>
             </div>
             <div class="form-group">
              <label for="supplier_customer"  class="fw-bold">End Date</label>
              <div id="datepicker" 
                          
              class="input-group date datepicker-field" 
              data-date-format="dd-mm-yyyy">
             <input class="form-control " 
             name="enddate"
             autocomplete="off" 
           
                    type="text"  />
             <span class="input-group-addon">
                 <i class="glyphicon glyphicon-calendar"></i>
             </span>
         </div>
            </div>
             
           
         </div>
         <div class="modal-footer">



        
           <button type="submit" class="btn btn-primary">Search</button>
         </div>
      </form>
      
     
    </div>
  </div>
</div>
{% endblock %}
