{% extends "navbar.html" %}
{% block content %}
<!-- partial -->
<div class="main-panel">
   <div class="content-wrapper ">
      <div class="row">
         <div class="col-sm-12">
            <div class="home-tab">
               <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                




                 <nav class="nav nav-borders">
                    <a class="nav-link active ps-0 pe-0 ms-0 me-3" style="color:#444;"href="{% url 'journal' %}">Journal List </a>
                    <a class="nav-link ps-0 pe-0 ms-3 me-3" style="color:#444;"  href="{% url 'journalform' %}">Journal Entry</a>
                    <a class="nav-link active ps-0 pe-0 ms-0 me-3" style="color: #4555B9 ; border-bottom:2px solid #4555B9;" href="">Journal Details </a>

      
                   
                </nav>




               </div>
               <br>
          



               

              <div class="card  mb-4" style="border-radius:5px;border:0.5px solid #e2e2e2;">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold " style="color:#2c2e2f"> <strong>Journal Details</strong> </h5>
                </div>
                <div class="card-body">


                    <div class="mb-4">
                        <label class="fw-bold">Journal Id</label>
                        <p>{{data.journalid}}</p>
                    </div>
                    <div class="mb-4">
                        <label class="fw-bold">Reference Number</label>
                        <p>{{data.referenceno }}</p>
                    </div>
                    <div class="mb-4">
                        <label class="fw-bold">Journal Date</label>
                        <p>{{data.journaldate }}</p>
                    </div>

                    <div class="mb-4">
                        <label class="fw-bold">Credit Account</label>
                        <p>{{data.creditaccount}}</p>
                    </div>
                    <div class="mb-4">
                        <label class="fw-bold">Debit Account</label>
                        <p>{{data.debitaccount}}</p>
                    </div>
                    <div class="mb-4">
                        <label class="fw-bold">Narration</label>
                        <p>{{data.narration  }}</p>
                    </div>

                    <div class="mb-4">
                        <label class="fw-bold">Amount</label>
                        <p>{{data.amount  }}</p>
                    </div>

                    <div class="mb-4">
                        <label class="fw-bold">Branch</label>
                        <p>{{data.branch  }}</p>
                    </div>

                    <div class="mb-4">
                        <label class="fw-bold">Description</label>
                        <p>{{data.description  }}</p>
                    </div>

                    <div class="mb-4">
                        <label class="fw-bold">Mode</label>
                        <p>{{data.mode}}</p>
                    </div>
                    


                    </div>
                </div>






            







               <!-- </div> -->
            </div>
            <div class="row flex-grow">
               <div class="col-12 grid-margin stretch-card">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
</div>
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
{% endblock %}
