{% extends "navbar.html" %}

{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">

           <nav class="nav nav-borders">
            <a class="nav-link active ps-0 pe-0 ms-0 me-3" style="color: #4555B9 ; border-bottom:2px solid #4555B9;" href="">Profit & Loss Account</a>
            
        </nav>
          </div>
       <br>
     

       <div class="card  mb-4" style="border-radius:5px;border:0.5px solid #e2e2e2;">
        <div class="card-header py-3 d-flex justify-content-between">
            <h5 class="m-0 font-weight-bold " style="color:#2c2e2f"> <strong>Profit & Loss Account</strong> </h5>
        
            <div class="d-flex align-items-center gap-3">

                      
              <i id="fa-magnifying-glass-moneyreciept"   data-toggle="modal" data-target="#placcountsearch" class="fa-solid fa-magnifying-glass  fs-4"></i>

              <a class="moneyreciept-clear" href="{% url 'placcount' %}">Clear</a>
           </div>
          </div>
        <div class="card-body">
            <div class="table-responsive">

              

              <table class="add-pagination-placcount branch_list table-bordered table table-striped">




                <thead>
                  <tr>
                    <th bgcolor="green">Dr</th>
                    <th></th>
                    <th>Cr</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th width="35%" style="text-align: center;">Particulars</th>
                    <th width="15%">Amount</th>
                    <th width="35%" style="text-align: center;">Particulars</th>
                    <th width="15%">Amount</th>
                  </tr>
                  </thead>
                  <tbody>

                    <tr>
                    <td>OPENING STOCK</td>
                    <td>{{ openingstock }}</td>
                    <td>CLOSING STOCK</td>
                    <td>{{ closingstock }}</td>
                    </tr>
                    
                    <tr>
                    <td>INDIRECT EXPENSES</td>
                    <td>{{ totalindirectexpense }}</td>
                    <td>OTHER INCOME</td>
                    <td>{{ otherincome }}</td>
                    </tr>
                    <tr>
                      <td>SALE RETURN</td>
                      <td>{{totalsalereturn}}</td>
                      <td>PURCHASE RETURN</td>
                      <td>{{totalpurchasereturn}}</td>
                      </tr>
                      <tr>
                        <td>PURCHASE</td>
                        <td>{{totalpurchase}}</td>
                        <td>SALE</td>
                        <td>{{totalsale}}</td>
                        </tr>

                        <tr>
                          <td>SPARE COST</td>
                          <td>{{ spare_parts_cost }}</td>
                          <td>SERVICE INCOME</td>
                          <td>{{totalservice}}</td>
                          </tr>

                  <tr>
                    <td><b>TOTAL</b></td>
                    <td><b>{{debittotal}}</b></td>
                    <td><b>TOTAL</b></td>
                    <td><b>{{credittotal}}</b></td>

                  </tr>
                  <tr>
                    <td><b>To Balance(Loss)</b></td>
                    <td><b>{{ loss }}</b></td>
                    <td><b>To Balance(Profit)</b></td>
                    <td><b>{{ profit }}</b></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>

            </div>
          </div>
          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" tabindex="-1" id="placcountsearch">
  <div class="modal-dialog">
    <div class="modal-content w-100">
      <div
        class="modal-header d-flex justify-content-between align-items-center m"
      >
        <h5 class="modal-title"><strong>Search PL Account</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
      </div>
    
      <form action="{% url 'placcount' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
           
             <div class="form-group">
               <label for="supplier_customer"  class="fw-bold">Start Date</label>
               <div id="datepicker" 
                          
               class="input-group date datepicker-field" 
               data-date-format="dd-mm-yyyy">
              <input class="form-control " 
              name="startdate"
              autocomplete="off" 
              
                     type="text"  />
              <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
              </span>
          </div>
             </div>
             <div class="form-group">
              <label for="supplier_customer"  class="fw-bold">End Date</label>
              <div id="datepicker" 
                          
              class="input-group date datepicker-field" 
              data-date-format="dd-mm-yyyy">
             <input class="form-control " 
             name="enddate"
             autocomplete="off" 
             
                    type="text"  />
             <span class="input-group-addon">
                 <i class="glyphicon glyphicon-calendar"></i>
             </span>
         </div>
            </div>
             <div class="form-group">
               <label for="branch" class="fw-bold">Branch</label>
               <select class="selectizefield" name="branch" id="branch">
                 {% if request.user.is_superuser %}
                 <option value="">Select Branch</option>
                 {% for branch in branch_list %}
                 <option value="{{branch}}">{{branch}}</option>
                 {% endfor %}
                 {% else %}
                
                 <option selected value="{{request.user.userprofile.branch}}">{{request.user.userprofile.branch}}</option>
                 
                 {% endif %}
               </select>
             </div>
           
         </div>
         <div class="modal-footer">



        
           <button type="submit" class="btn btn-primary">Search</button>
         </div>
      </form>
      
     
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(){
 
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('#fa-magnifying-glass-moneyreciept'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl, {
      title: "Search PL Account", 
      delay: { "show": 100, "hide": 100 } 
    });
  });
});

</script>

{% endblock %}