{% extends "navbar.html" %} {% block content %}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <!-- <ul class="nav nav-tabs" role="tablist">
                   <li class="nav-item">
                      <a class="nav-link active ps-0" id="home-tab"  href="{% url 'stock' %}" role="tab" aria-controls="Overview" aria-selected="true">All Stock</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link border-0" id="profile-tab"  href="{% url 'branchstock' %}">My Stock</a>
                   </li>
                </ul> -->
    
                <nav class="nav nav-borders">
                   <a class="nav-link active ps-0 pe-0 ms-0 me-3" style="color:#444;"    href="{% url 'reportsdailysales' %}">Daily Sales</a>
                   <a class="nav-link ps-0 pe-0 ms-3 me-3"   style="color:#444;"   href="{% url 'reportsmonthlysales' %}">Monthly Sales</a>
                   <a class="nav-link ps-0 pe-0 ms-3 me-3"  style="color:#444;"    href="{% url 'reportsyearlysales' %}">Yearly Sales</a>
                   <a class="nav-link ps-0 pe-0 ms-3 me-3" style="color: #4555B9 ; border-bottom:2px solid #4555B9;"    href="{% url 'reportsindividualsales' %}">Individual Sales</a>
               </nav>
             </div>
             <br>
          <!-- <br /> -->
    



 


            <div class="card card-rounded " style="border-radius:5px;border:0.5px solid #e2e2e2;">
                <div class="card-header py-3 d-flex justify-content-between align-items-center" style="background-color: #fff">
                <h5 class="m-0 font-weight-bold" style="color:#2c2e2f"> <strong>Individual Sales Report ({{date_range_str}})</strong> </h5>
  
             
                       
                                

                                <div class="d-flex align-items-center gap-3">
                                  <i id="fa-magnifying-glass-moneyreciept" data-toggle="modal" data-target="#dashboardmonthlysalesmodal" class="fa-solid fa-magnifying-glass  fs-4"></i>
                                  <a class="sales-clear" href="{% url 'reportsindividualsales' %}">Clear</a>
                               </div>

                                  
                            
                              
            </div>

            <div class="card-body">


              <div class="table-responsive">
                <table class="  add-pagination-monthly-sales  table-bordered  table purchase-list" >
                   <thead >
                      <tr>
                         <th>Sl</th>
                         <th> Sale Id</th>
                         <th> Invoice Number</th>
                         <th> Invoice Date</th>
                         <th> Customer</th>

                         
                         <th>Bill Amount</th>
                         <th>Amount Recieved</th>
                         <th>Due Balance</th>
                         <th>Sales Person</th>
                         <th>branch</th>
                        
                      </tr>
                   </thead>
                   <tbody>
                      {% for item in sales_obj %}
                      <tr>
                         <td>{{ forloop.counter }}</td>
                         <td>{{ item.saleid }}</td>
                         <td>{{ item.invoicenumber }}</td>
                         <td>{{ item.invoicedate }}</td>
                         <td>{{ item.customer }}</td>
                         
                         <td>{{ item.totalbillingamount | default:0 |floatformat:2 }}</td>
                         <td>{{ item.amountrecieved | default:0 |floatformat:2 }}</td>
                         <td>{{ item.duebalance | default:0 |floatformat:2 }}</td>
                         <td>{{ item.added_by }}</td>
                         <td>{{ item.branch }}</td>
                         
                      </tr>
                      {% endfor %}
                   
                   </tbody>
                </table>
             </div>

                </div>

                <div class="card-footer " style="background-color: #fff">

<div class="row my-3">
                    <div class="col-lg-4 col-md-4">

                    </div>
                    <div class="col-lg-4 col-md-4">

                    </div>
                  <div class="col-lg-4 col-md-4 ">

                    <div class="d-flex justify-content-between align-items-center">

                      <h5> <strong>  Total :</strong>  </h5>

                        <h5>{{sales_total_amount | default:0 |floatformat:2}}</h5>
                  </div>
                  <hr>

                  <div class="d-flex justify-content-between align-items-center">

                    <h5>  <strong>Total Recieved :</strong>  </h5>

                      <h5>{{sales_amount_received | default:0 |floatformat:2}}</h5>
                  </div>
                  <hr>

                  <div class="d-flex justify-content-between align-items-center">

                    <h5><strong> Due : </strong> </h5>

                    <h5>{{sales_amount_due | default:0 |floatformat:2}}</h5>
                  </div>

                  </div>
                </div>



                </div>


            </div>
            






            
          
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>




<div class="modal fade" tabindex="-1" id="dashboardmonthlysalesmodal">
  <div class="modal-dialog">
    <div class="modal-content w-100">
      <div
        class="modal-header d-flex justify-content-between align-items-center m"
      >
        <h5 class="modal-title"><strong>Search</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
      </div>
    
      <form action="{% url 'reportsindividualsales' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">

        
           
             
   
            {% if request.user.is_superuser %}
             <div class="form-group">
               <label for="sale_subcategory" class="fw-bold">Select Branch</label>
               <select required class="selectizefield branchindividualsales"  name="branch" id="branch">


                <option value="{{selected_branch.id}}">{{selected_branch}}</option>

                {% for branch in all_branches %}
                 <option value="{{branch.id}}">{{branch.name}}</option>
               {% endfor %}
                 
               </select>
             </div>

             <div class="form-group">
              <label for="user" class="fw-bold">Select User</label>
              <select class="selectizefield  userindividualsales" required  name="user" id="user">


           
               
                
              </select>
            </div>

            <div class="form-group">
              <label class=" mb-2" for="">  <strong>Start Date</strong>      </label>
              <div id="datepicker" 
                        
           class="input-group date datepicker-field" 
           data-date-format="dd-mm-yyyy">
          <input class="form-control " 
          name="startdate"
          autocomplete="off" 
          required
                 type="text"  />
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
          </span>
      </div>
            </div>
            <div class="form-group">
              <label class=" mb-2" for="">  <strong>End Date</strong>      </label>
              <div id="datepicker" 
                        
           class="input-group date datepicker-field" 
           data-date-format="dd-mm-yyyy">
          <input class="form-control " 
          name="enddate"
          autocomplete="off" 
          required
                 type="text"  />
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
          </span>
      </div>
            </div>


             {% else %}

             <div class="form-group">
              <label for="user" class="fw-bold">Select User</label>
              <select class="selectizefield " required  name="user" id="user">


               <!-- <option value="{{selected_branch.id}}">{{selected_branch}}</option> -->
               <option value="">Select User</option>
               {% for person in sales_persons %}
                <option value="{{person.id}}">{{person.username}}</option>
              {% endfor %}
                
              </select>
            </div>

            <div class="form-group">
              <label class=" mb-2" for="">  <strong>Start Date</strong>      </label>
              <div id="datepicker" 
                        
           class="input-group date datepicker-field" 
           data-date-format="dd-mm-yyyy">
          <input class="form-control " 
          name="startdate"
          autocomplete="off" 
          required
                 type="text"  />
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
          </span>
      </div>
            </div>
            <div class="form-group">
              <label class=" mb-2" for="">  <strong>End Date</strong>      </label>
              <div id="datepicker" 
                        
           class="input-group date datepicker-field" 
           data-date-format="dd-mm-yyyy">
          <input class="form-control " 
          name="enddate"
          autocomplete="off" 
          required
                 type="text"  />
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
          </span>
      </div>
            </div>

             {% endif %}

          
            
             


           
         </div>
         <div class="modal-footer">



        
           <button type="submit" class="btn btn-primary">Search</button>
         </div>
      </form>
      
     
    </div>
  </div>
</div>
<!-- main-panel ends -->
{% endblock %}
