{% extends "navbar.html" %}

{% block content %}

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
              

                  <nav class="nav nav-borders">
                    <a class="nav-link active ps-0 pe-0 ms-0 me-3" style="color: #4555B9 ; border-bottom:2px solid #4555B9;" href=""> Sales Return </a>
                    <a class="nav-link active ps-0 pe-0 ms-0 me-3" style="color:#444;"  href="{% url 'salesreturnlist' %}"> Sales Return List</a>
   
  
                   
                </nav>
                </div>
                <br>
          
              

                       

                                <div class="card  mb-4" style="border-radius:5px;border:0.5px solid #e2e2e2;" >
                                  <div class="card-header py-3 bg-white d-flex justify-content-between" >
                                      <h5 class="m-0 font-weight-bold " style="color:#2c2e2f"> <strong>Sales Return </strong> </h5>
                                    {% if already_returned == True %}
                                    <p class="fw-bold text-danger m-0 p-0">Note : This Sale Invoice is already returned once</p>
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                  <div class="card-body">


                                    <div class="outer p-2">

                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-3 col-sm-12">
                                                <label for="invoiceno" class="">  <p><strong>Invoice Number</strong> </p>  </label>
                                                <form action="{% url 'salesreturnsearch' %}" method="post">
                                                {% csrf_token %}
                                                <div class="d-flex gap-1">
                                                   
                                                <select  name="invoiceno" class="form-control selectizefield" id="invoiceno">
                                                    {% if selected_invoiceno == '' %}
                                                    <option value="" selected>Invoice Number</option>
                                                    {% else %}
                                                    <option value="{{selected_saleid}}" selected>{{selected_invoiceno}} - {{selected_saleid}}</option>
                                                    
                                                    {% endif %}
                                                    {% for inv in invoicenumbers %}
                                                    <option value="{{inv.saleid}}">{{inv.invoicenumber}} - {{inv.saleid}}</option>
                                                    {% endfor %}
                                                </select>
                                                <button type="submit" class="btn btn-primary text-white"><i class="fa-solid fa-magnifying-glass"></i></button>
                                            
                                            </div>
                                        </form>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-12">
                                               
                                                
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12">
                                                <label for="branch" class=""> <p><strong>Branch</strong> </p>    </label>


                                                <select readonly class="form-control">
                                                    <option value="{{branch}}" selected>{{branch}}</option>
                                                </select>

                                               
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12">
                                                <label for="supplier" class=""> <p><strong>Customer</strong> </p>    </label>
                                                <select readonly class="form-control">
                                                    <option value="{{customer}}" selected>{{customer}}</option>
                                                </select>
                                                <!-- <input readonly class="form-control" type="text" value="{{customer}}"> -->
                                            </div>
                                        </div>

                                        <form id="salesreturnform" action="{% url 'addsalesreturn' %}" method="POST"> 
                                            {% csrf_token %}


                                        <div class="table-responsive mb-4">


                                            <table
                                            class="table table-bordered   sales-return-table table-responsive"
                                            
                                          
                                          >
                                            <thead  >
                                              <tr style="background-color: #e2e6fb3d">
                                                <th  width="2%">Sl</th>
                                                <th  width="3%"></th>
                                                <th  width="16%">Barcode</th>
                                                <th width="25%">Name <span style="color:#e2e6fb3d;">------------------------</span> </th>
                                                <th width="3%" class="puchase-qty-right ">Initial Sold Qty</th>
                                               
                                                <th width="7%">Unit Price<span style="color:#e2e6fb3d;">----</span> </th>
                                                <th width="3%" >Return Qty<span style="color:#e2e6fb3d;">-</span> </th>
                                                <th width="7%">Rate<span style="color:#e2e6fb3d;">--------</span> </th>
                                                <th width="9%">Tax<span style="color:#e2e6fb3d;">------</span> </th>
                                                <th width="5%">Refund Amount</th>
                                                <th width="20%">Reason<span style="color:#e2e6fb3d;">----</span> </th>
                                          
                                                
                                                <!-- <th width="2%" class="puchase-qty-left"></th> -->
                                              </tr>
                                            </thead>
                                            <tbody >

                                {% for item in salesdata %}

                                              <tr style="background-color:#fff;">
                                                <td>{{forloop.counter}}</td>

                                                
                                                <td>
                                                   
                                                     
                                             <input
                                           
                                             type="checkbox" 
                                             class="form-check-input"
                                              name="productcheck{{forloop.counter}}"
                                              id="productcheck{{forloop.counter}}">
                                                         
                                                    
                                                    
                                                </td>

                                                <td>
                                                    <input readonly type="text" class="form-control no-spinner" name="barcode-sale{{forloop.counter}}" id="barcode-sale{{forloop.counter}}" value="{{ item.barcodenumber }}">
                                                </td>

                                                <td width="20%;"> 
                                                  <input
                                                  readonly
                                                    type="text"
                                                    id="product-sale{{forloop.counter}}"
                                                    autocomplete="off"
                                                    name="product-sale{{forloop.counter}}"
                                                    value="{{item.name}}"
                                                    class="form-control no-spinner"
                                                 
                                                  />
                                                  
                                                </td>
                                                <td >
                                                  <input
                                                  readonly
                                                    type="number"
                                                    name="availablequantity-sale{{forloop.counter}}"
                                                    id="availablequantity-sale{{forloop.counter}}"
                                                    min="0"
                                                    value="{{item.totalquantity}}"
                                                    class="form-control no-spinner"
                                                    autocomplete="off"
                                             
                                                  />
                                                </td>
                                        
                                                <td>
                                                  <input
                                                  readonly
                                                    type="number"
                                                    step="0.01"
                                                    min="0"
                                                    name="price-sale{{forloop.counter}}"
                                                    id="price-sale{{forloop.counter}}"
                                                    value="{{item.price}}"
                                                    autocomplete="off"
                                                    class="form-control no-spinner"
                                             
                                                  />
                                                </td>
                                                <td>
                                                    <input 
                                                    readonly  
                                                    class="form-control no-spinner" 
                                                    name="returnqty-sale{{forloop.counter}}"
                                                     min="0" 
                                                     id="returnqty-sale{{forloop.counter}}"
                                                      type="number">
                                                </td>
                                                <td>
                                                    <input 
                                                    readonly 
                                                    value="{{item.price}}"  
                                                    class="form-control no-spinner" 
                                                    name="rate-sale{{forloop.counter}}" 
                                                    min="0" 
                                                    step="0.01" 
                                                    id="rate-sale{{forloop.counter}}" 
                                                    type="number">
                                                </td>
                                                <td>
                                                  <select
                                                
                                                    name="tax-sale{{forloop.counter}}"
                                                    id="tax-sale{{forloop.counter}}"
                                                    class="form-control"
                                                    style="  border:1px solid #dee2e6;
                                                    "
                                                    autocomplete="off"
                                                    readonly
                                                  >
                                                    <option 
                                                    value="{{item.salegstname}}"
                                                    data-tax="{{item.tax}}"
                                                    
                                                     selected>{{item.salegstname}}</option>
                                                    
                                                   
                                                  </select>
                                                </td>
                                                <td>
                                                    <input 
                                                    readonly 
                                                    class="form-control no-spinner" 
                                                    name="refundamount-sale{{forloop.counter}}" 
                                                    id="refundamount-sale{{forloop.counter}}" 
                                                    type="text">
                                                </td>
                                                
                                                <td>
                                                    <select
                                                   
                                                      name="reason-sale{{forloop.counter}}"
                                                      id="reason-sale{{forloop.counter}}"
                                                      class="form-control"
                                                      style="  border:1px solid #dee2e6;
                                                      "
                                                      autocomplete="off"
                                                      disabled
                                                    >
                                                      <option value="" selected></option>
                                                      <option value="Damage" >Damage</option>
                                                      <option value="Expiry" >Expiry</option>
                                                      <option value="Take Back" >Take Back</option>
                                                      <option value="Non Moving" >Non Moving</option>
                                                      
                                                    </select>
                                                  </td>
                                               
                                                
                                              
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                          </table>
                        
                                          







                                        </div>






                                        <div class="row ">



                                            <div class="col-lg-6 col-md-6 col-sm-12">

                                                <div class="row mb-2">
                                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                                        <label for="paymentmode" class="">  <p><strong>Payment Mode</strong></p>   </label>
                                                <select required name="paymentmode" id="paymentmode" class="form-control selectizefield">
                                                  <option value="" selected>Select Payment Mode</option>
                                                    {% for mode in paymentmode %}
                                                    <option value="{{mode.name}}">{{mode.name}}</option>
                                                    {% endfor %}
                                                </select>
                                                    </div>
                                                    <div class="col-lg-6 col-md-12 col-sm-12">

                                                    </div>
                                                    
                                                </div>

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">

                                                <ul class="list-group ">
                                                    <li class="list-group-item">
                                                        <div class="d-flex justify-content-between">
                                                            <p class="fw-bold">Total Amount</p>
                                                            <input readonly class="form-control w-50" type="text" value="{{totalamount}}" name="totalamount-sale" id="totalamount-sale" type="number" step="0.01" min="0">
                  
                                                          </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="d-flex justify-content-between">
                                                            <p class="fw-bold">Discount</p>
                                                            <input type="number" class="form-control w-50" value="{{discount}}" name="discount-sale" id="discount-sale" type="number" step="0.01" min="0">
                  
                                                          </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="d-flex justify-content-between">
                                                            <p class="fw-bold">Net Total</p>
                                                            <input readonly class="form-control w-50" type="text" value="{{nettotal}}" name="nettotal-sale" id="nettotal-sale" type="number" step="0.01" min="0">
                  
                                                          </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="d-flex justify-content-between">
                                                            <p class="fw-bold">Total Quantity</p>
                                                            <input readonly class="form-control w-50" type="text" value="{{totalqty}}" name="totalqty-sale" id="totalqty-sale" type="number"  min="0">
                  
                                                          </div>
                                                    </li>
                                                    <input readonly class="form-control w-50" type="text" value="{{invoicenumber}}" name="invno-sale" id="invno-sale" type="text" hidden>
                                                    <input readonly class="form-control w-50" type="text" value="{{customer}}" name="cust" id="cust" type="text" hidden>
                                                    <input readonly class="form-control w-50" type="text" value="{{customertype}}" name="custtype" id="custtype" type="text" hidden>
                                                    <input readonly class="form-control w-50" type="text" value="{{customerid}}" name="custid" id="custid" type="text" hidden>
                                                    <input readonly class="form-control w-50" type="text" value="{{salesid}}" name="salesid" id="salesid" type="text" hidden>
                                                    <input readonly class="form-control w-50" type="text" value="{{branch.id}}" name="branch-sale" id="branch-sale" type="text" hidden>
                                                    <input readonly class="form-control w-50" type="text" value="0" name="totaltax-sale" id="totaltax-sale" type="text" hidden>
                                                    
                                                    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
                                                  </ul>
                                                    <div class="d-flex justify-content-end">
                                                        <button type="submit" class="btn btn-primary mt-3 float-right text-white"> <strong>Save</strong> </button>
                                                    </div>
                                                  
                                            </div>

                                        </div>
                                    </form>







                                    </div>
                                     
                                </div>
                              </div>
                            </div>
                          <!-- </div> -->
                        </div>
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                          </div>
                        </div>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





    
  
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
      
        {% endblock %}

