{% extends "navbar.html" %}
{% block content %}
<!-- partial -->
<div class="main-panel">
   <div class="content-wrapper ">
      <div class="row">
         <div class="col-sm-12">
            <div class="home-tab">
               <div class="d-sm-flex align-items-center justify-content-between border-bottom">
              

       



                 <nav class="nav nav-borders">
                    <a class="nav-link active ps-0 pe-0 ms-0 me-3" style="color:#444;"  href="{% url 'salesreturn' %}"> Sales Return </a>
                    <a class="nav-link active ps-0 pe-0 ms-0 me-3"  style="color: #4555B9 ; border-bottom:2px solid #4555B9;"  href="{% url 'salesreturnlist' %}"> Sales Return List</a>
   
                 
              </nav>



               </div>
               <br>
           
           








              <div class="card  mb-4" style="border-radius:5px;border:0.5px solid #e2e2e2;">
               <div class="card-header py-3 bg-white">
                   <h5 class="m-0 font-weight-bold " style="color:#2c2e2f"> <strong>Sales Return List </strong> </h5>
               </div>
               <div class="card-body">
                   <div class="table-responsive">



                     <div class="mt-3">
                        <div class="table-responsive">
                           <table class="  add-pagination table-hover table-bordered  table table-striped purchase-list" >
                              <thead >
                                 <tr>
                                    <th>Sl</th>
                                    <th> Return Id</th>
                                    <th> Invoice Number</th>
                                    <th> Date</th>
                                    <th>Branch</th>
                                    <th> Customer</th>

                                  
                                  
                                  
                                    <th>Quantity</th>
                                    <th>Refund Amount</th>
                                    <th>Branch</th>
                                    <!-- <th>Due Balance</th>
                                    <th>Pay</th> -->
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for item in data %}
                                 <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.salereturnid }}</td>
                                    <td>{{ item.invoicenumber }}</td>
                                    <td>{{ item.createddate }}</td>
                                    <td>{{ item.branch }}</td>
                                    <td>
                                       {{item.customer}}



                                    </td>
                                    
                                    
                                    <td>{{ item.totalquantity }}</td>
                                    <td>{{ item.nettotal}}</td>
                                    <td>{{ item.branch}}</td>
                                    
                                    <td><a href="{% url 'salesreturndetails' returnid=item.salereturnid %}"><i class="fa-solid fa-eye label-purchase-view"></i></a></td>
                                    
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>


                   </div>
                  </div>
               </div>







           



               <!-- -->
            </div>
            <div class="row flex-grow">
               <div class="col-12 grid-margin stretch-card">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
</div>
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
{% endblock %}