<html lang="ar">
  <head>
    <title>Service Invoice</title>
  </head>
  <body>
    <div>
      <div>
        <table>
          <thead>
            <th class="w20">
              <!-- {% if current_host == '127.0.0.1:8000' %}
                     <img style="width:100%;" src="http://{{current_host}}{{logo}}"  alt="logo">
                     {% else %}
                     <img style="width:100%;" src="https://magnus.salesgrand.com{{logo}}"  alt="logo">
                     {% endif %} -->

                     <img style="width:100%;" src="{{logo}}"  alt="logo">
            </th>

            <th class="w25"></th>
            <th class="w55">
              <div class="text-right">
                <h4 class="company-name">
                  <strong>{{company_name}}</strong>
                </h4>
                {% if current_user.is_superuser %}
                <p class="address-1">{{address_line1}}</p>
                <p class="address-2">{{address_line2}}</p>
                <p class="address-3">{{address_line3}}</p>
                {% else %}
                <p class="address-1">{{address_line1}}</p>
                <p class="phone">{{phone}}</p>

                {% endif %}
                <p class="gst">GSTIN : {{branch.gstin}}</p>
              </div>
            </th>
          </thead>
        </table>
      </div>
      <hr />

      <div class="text-center">
        <h2>INVOICE #{{serviceref}}</h2>
        <p>{{currentdate}}</p>
      </div>
      <table class="table-1">
        <tr>
          <th class="th-left bg-grey ">Customer Name </th>
          <th class="th-right">{{firstname}} {{lastname}}</th>
          <th class="th-left bg-grey">Customer Id </th>
          <th class="th-right">{{customerid}}</th>
        </tr>
        <tr>
          <th class="th-left bg-grey">Phone </th>
          <th class="th-right">{{phone_customer}}</th>
          <th class="th-left bg-grey">Address </th>
          <th class="th-right">{{address_customer}}</th>
        </tr>
      </table>

      <table class="table-1">
        <tr>
          <th class="tr-left">
            <strong>Device : </strong>
            <span class="grey">{{brand}} {{modal}}</span> <br /><br />
            <strong>IMEI :</strong> 
            <span class="grey">{{imei}}</span>
          </th>
          <th class="tr-left">
            <strong>Invoice Number : </strong>
            <span class="grey">{{serviceref}}</span> <br /><br />
            <strong>Invoice Date : </strong>
            <span class="grey">{{currentdate}}</span>
          </th>
        </tr>
      </table>

      <table class="table-2">
        <tr>
          <th class="table-2-th bg-grey">Product </th>
          <th class="table-2-th bg-grey">Brand  </th>
          <th class="table-2-th bg-grey">Modal </th>
          <th class="table-2-th bg-grey">IMEI  </th>
          <!-- <th class="table-2-th bg-grey">Charge</th> -->
        </tr>
        <tr>
          <td class="table-2-th">{{product}}</td>
          <td class="table-2-th">{{brand}}</td>
          <td class="table-2-th">{{modal}}</td>
          <td class="table-2-th">{{imei}}</td>
          <!-- <td class="table-2-th">{{servicecharge}}</td> -->
        </tr>
      </table>
      
       

       
        <table class="table-2">
        <tr>
    
          <td class="w20"></td>
          <td class="w20"></td>
          <th class="table-2-th bg-grey">Total Excluding GST </th>
          <td class="table-2-th">{{totalamount|floatformat:2}}</td>
        </tr>
        {% if totaltax != 0 %}
        <tr>
          <!-- <td class="w20"></td> -->
          <td class="w20"></td>
          <td class="w20"></td>
          <th class="table-2-th bg-grey">GST {{servicetax}}%</th>
          <td class="table-2-th">{{totaltax|floatformat:2}}</td>
        </tr>
        {% endif %}
        {% if discount != 0 %}
        <tr>
          <!-- <td class="w20"></td> -->
          <td class="w20"></td>
          <td class="w20"></td>
          <th class="table-2-th bg-grey">Discount</th>

          <td class="table-2-th">{{discount|floatformat:2}}</td>
        </tr>
        {% endif %}
        <tr>
          <!-- <td class="w20"></td> -->
          <td class="w20"></td>
          <td class="w20"></td>
          <th class="table-2-th bg-grey">Final Amount </th>
          <td class="table-2-th">{{finalamount|floatformat:2}}</td>
        </tr>
        <tr>
          <!-- <td class="w20"></td> -->
          <td class="w20"></td>
          <td class="w20"></td>
          <th class="table-2-th bg-grey">Amount Recieved</th>
          <td class="table-2-th">{{amountrecieved|floatformat:2}}</td>
        </tr>
        {% if duebalance != 0 %}
        <tr>
          <!-- <td class="w20"></td> -->
          <td class="w20"></td>
          <td class="w20"></td>
          <th class="table-2-th bg-grey">Due Balance  </th>
          <td class="table-2-th">{{duebalance|floatformat:2}}</td>
        </tr>
        {% endif %}
      </table>

   

      <div>
        <p>
          Thank you for your bussiness, The work is complete, and your payment
          is due upon pickup. Don't hesitate to contact us promptly if you have
          any questions about anything we did.
        </p>
        <p>Phone : {{phone}}</p>
      </div>
      <br />
      <br /><br />
    </div>

    <table>
      <thead>
        <th class="w25">
          <div class="text-left">
            <p>Manager Signature</p>
          </div>
        </th>

        <th class="w25"></th>
        <th class="w25"></th>
        <th class="w25">
          <div class="text-right">
            <p>Customer Signature </p>
          </div>
        </th>
      </thead>
    </table>
  </body>
</html>
