{% extends "navbar.html" %} 
{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div
            class="d-sm-flex align-items-center justify-content-between "
          >
            
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item fs-6 "><a class="text-decoration-none" href="{% url 'index' %}" style="color:#4555B9;"><strong>Dashboard</strong></a></li>
              <li class="breadcrumb-item fs-6 active" aria-current="page"> <strong>Service Report</strong>  </li>
            </ol>
          </nav>



          </div>
     

          <div class="row">

            {% if request.user.userprofile.role != 'Technician' %}

            <div class="col-lg-7 d-flex flex-column mb-1">
              <div class="row flex-grow">
                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                  <div class="card card-rounded" style="padding:24px;border-radius:5px;border:0.5px solid #e2e2e2;box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;">
                      <div class="d-sm-flex justify-content-between align-items-start mb-4">
                        <div>
                         <h4 class="card-title card-title-dash">Service Details</h4>
                        
                         <p class="card-subtitle card-subtitle-dash text-secondary">Performance of Service Engineers</p>
                        </div>
                        <a class="service-see-more" href="#" data-toggle="modal" data-target="#searchdashtable">Search &#128269;</a>   
                      </div>
                    
<div class="table-responsive">
                      <table class="table table-bordered add-pagination-service-report">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Service Income</th>
                            <th>Spare Cost</th>
                            <th>Net Service Income</th>
                            <th>Branch</th>
                          </tr>
                        </thead>
                        <tbody>

                          {% for item in technician_income.technicianincome %}
                          <tr>
                            <td>{{item.technician | title }}</td>
                            <td>{{item.income | default:0 |floatformat:2 }}</td>
                            <td>{{item.spare_cost | default:0 |floatformat:2 }}</td>
                            <td>{{item.net_service_income | default:0 |floatformat:2 }}</td>
                            <td>{{item.branch }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>

                      </table>
                    </div>

                      <div class="d-flex mt-1" >
                        <p class="me-3 text-secondary">Start Date: {{technician_income.startdate}}</p><p class="text-secondary">End Date : {{technician_income.enddate}}</p>
                       
                    </div>

                    </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-5 d-flex flex-column mb-1">
              <div class="row flex-grow">
                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                  <div class="card card-rounded" style="height: 460px;padding:24px;border-radius:5px;border:0.5px solid #e2e2e2;box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;">
                      <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                         <h4 class="card-title card-title-dash">Service Income</h4>
                        
                         <p class="card-subtitle card-subtitle-dash text-secondary">Service Income generated by Service Engineers</p>
                        </div>
                     
                      </div>
                    
                      <div class="chartjs-bar-wrapper mt-5" >
                        <canvas id="servicecharttwo" ></canvas>
                      </div>
                      
                  </div>
                  
                </div>
              </div>
             
            </div>


            <div class="col-lg-6 flex-column mb-1">
              <div class="row flex-grow ">
                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card ">
                  <div class="card card-rounded " style="height: 400px;padding:24px;border-radius:5px;border:0.5px solid #e2e2e2;box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;">
                      <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                         <h4 class="card-title card-title-dash">Service Income</h4>
                        
                         <p class="card-subtitle card-subtitle-dash text-secondary">Service income generated by service engineers</p>
                        </div>
                      </div>
                      <div class="chartjs-bar-wrapper mt-3" style="height: 250px">
                        <canvas id="serviceincomechart" ></canvas>
                      </div>
                      <div class="d-flex mt-5" >
                        <p class="me-3 text-secondary">Start Date: {{technician_income.startdate}}</p><p class="text-secondary">End Date : {{technician_income.enddate}}</p>
                       
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-6 flex-column mb-1">
              <div class="row flex-grow ">
                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card ">
                  <div class="card card-rounded " style="height: 400px;padding:24px;border-radius:5px;border:0.5px solid #e2e2e2;box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;">
                      <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                         <h4 class="card-title card-title-dash">Net Service Income</h4>
                        
                         <p class="card-subtitle card-subtitle-dash text-secondary">Net service income generated by service engineers</p>
                        </div>
                      </div>
                      <div class="chartjs-bar-wrapper mt-3" style="height: 250px">
                        <canvas id="netserviceincomechart" ></canvas>

                        
                      </div>
                      <div class="d-flex mt-5" >
                        <p class="me-3 text-secondary">Start Date: {{technician_income.startdate}}</p><p class="text-secondary">End Date : {{technician_income.enddate}}</p>
                       
                    </div>
                  </div>
                </div>
              </div>

            </div>


            <div class="col-lg-12 d-flex flex-column mt-1 mb-4">
              <div class="row flex-grow ">
                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card ">
                  <div class="card card-rounded " style="height: 400px;padding:24px;border-radius:5px;border:0.5px solid #e2e2e2;box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;">
                      <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                         <h4 class="card-title card-title-dash">Service income vs Net service income breakdown</h4>
                        
                         <p class="card-subtitle card-subtitle-dash text-secondary">Breakdown of income (service vs. net service) for each service engineers</p>
                        </div>
                      </div>
                      <div class="chartjs-bar-wrapper mt-3" style="height: 250px">
                        <canvas id="netserviceserviceincomechart" ></canvas>
                      </div>
                  </div>
                </div>
              </div>
            </div>

{% endif %}

           






            <div class="col-lg-4 mb-3" >
                <div class="card card-rounded " style="border-radius:5px;border:0.5px solid #e2e2e2;box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;">
                  
                    <div class="card-header py-3" style="background-color: rgba(87, 102, 197, 0.24)">
                        <h5 class="m-0 font-weight-bold mb-3" style="color:#2c2e2f"> <strong>Daily</strong> </h5>
                    
                    
                        <div class="">




                        

                        

                          
                              <div id="datepicker" 
                          name="serviceentrydate"
             class="input-group date datepicker-current mb-1" 
             data-date-format="dd-mm-yyyy">
            <input class="form-control  " 
            name="dailyservicedate"
            autocomplete="off" 
            id="dailyservicedate"
            style="padding-left: 13px;"
  
                   type="text"   />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>


  
                              {% if user.is_superuser %}
  
                              <select class="form-control border mb-1" name="dailyservicebranch" id="dailyservicebranch">
                                <option value="allbranches">Branches</option>
                                {% for branch in all_branches %}
                                <option value="{{branch}}">{{branch}}</option>
                                {% endfor %}
                                
                              </select>
  
                              {% endif %}
  
                              {% if user.is_superuser or user.userprofile.role == 'Branch Admin' or user.userprofile.role == 'Franchise Admin' %}
  
                              <select class="form-control border mb-1" name="dailyservicetechnician" id="dailyservicetechnician">
                                <option value="alltechnician">Tehnician</option>
  
                                {% if user.userprofile.role == 'Branch Admin' or user.userprofile.role == 'Franchise Admin' %}
                                {% for technician in all_technician %}
                                <option value="{{technician}}">{{technician}}</option>
                                {% endfor %}
                                {% endif %}
                                
                              </select>
                              {% endif %}
               
                        </div>
                    
                    
                    
                    </div>
                  
                  
                    <div class="card-body">



                        <ul class="vstack gap-2 list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center justify-content-between" >
                                <div class="d-flex align-items-center ">
                                    <i class="fa-solid fa-wrench f-left me-2 "></i>
                                <span class="">Unacknowledged</span>
                                </div>

                                <div class="servicedailyunacknowledged  fw-bolder">
                                    {{all_service.Unacknowledged}}
                                </div>
                            </li>
                            <!-- <li class="list-group-item d-flex align-items-center justify-content-between" >
                              <div class="d-flex align-items-center ">
                                  <i class="fa-solid fa-square-check f-left me-2 "></i>
                              <span class="">Spare Requested</span>
                              </div>

                              <div class="servicedailysparerequested fw-bolder">
                                  {{all_service.SpareRequested}}
                              </div>
                          </li>
                          <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center ">
                                <i class="fa-solid fa-truck f-left me-2"></i>
                                <span class="">Spare Allocated</span>
                                </div>

                                <div class="servicedailyspareallocated fw-bolder">
                                    {{all_service.SpareAllocated}}
                                </div>
                            
                        
                        </li> -->
                            <li class="list-group-item d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center ">
                                    <i class="fa-solid fa-screwdriver-wrench f-left me-2"></i>
                                    <span class="">In Progress</span>
                                    </div>

                                    <div class="servicedailyinprogress fw-bolder">
                                        {{all_service.InProgress}}
                                    </div>
                                
                            </li>
                           
                          
                        </ul>
                    




                  </div>
                </div>
              </div>





              <div class="col-lg-4 mb-3">
                <div class="card card-rounded " style="border-radius:5px;border:0.5px solid #e2e2e2;box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;">
                  
                    <div class="card-header py-3" style="background-color: rgba(87, 102, 197, 0.24)">
                        <h5 class="m-0 font-weight-bold mb-3" style="color:#2c2e2f"> <strong>Monthly</strong> </h5>
                    
                    
                        <div class="">




                        












                        

                            <select class="form-control border mb-1" name="monthlyservicedate" id="monthlyservicedate">
                                <option value="{{current_month.month}}">{{current_month.month_str}}</option>
                                <option value="1">January</option>
                                 <option value="2">February</option>
                                 <option value="3">March</option>
                                 <option value="4">April</option>
                                 <option value="5">May</option>
                                 <option value="6">June</option>
                                 <option value="7">July</option>
                                 <option value="8">August</option>
                                 <option value="9">September</option>
                                 <option value="10">October</option>
                                 <option value="11">November</option>
                                 <option value="12">December</option>

                              
                              </select>
  
                              {% if user.is_superuser %}
  
                              <select class="form-control border mb-1" name="monthlyservicebranch" id="monthlyservicebranch">
                                <option value="allbranches">Branches</option>
                                {% for branch in all_branches %}
                                <option value="{{branch}}">{{branch}}</option>
                                {% endfor %}
                                
                              </select>
  
                              {% endif %}
  
                              {% if user.is_superuser or user.userprofile.role == 'Branch Admin' or user.userprofile.role == 'Franchise Admin' %}
  
                              <select class="form-control border mb-1" name="monthlyservicetechnician" id="monthlyservicetechnician">
                                <option value="alltechnician">Tehnician</option>
  
                                {% if user.userprofile.role == 'Branch Admin' or user.userprofile.role == 'Franchise Admin' %}
                                {% for technician in all_technician %}
                                <option value="{{technician}}">{{technician}}</option>
                                {% endfor %}
                                {% endif %}
                                
                              </select>
                              {% endif %}
                     
                        </div>
                    </div>
                  
                  
                  
                    <div class="card-body">




                        <ul class="vstack gap-2 list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center justify-content-between" >
                                <div class="d-flex align-items-center ">
                                    <i class="fa-solid fa-wrench f-left me-2 "></i>
                                <span class="">Unacknowledged</span>
                                </div>

                                <div class="servicemonthlyunacknowledged fw-bolder">
                                    {{all_service_monthly.Unacknowledged}}
                                </div>
                            </li>
                            <li class="list-group-item d-flex align-items-center justify-content-between" >
                              <div class="d-flex align-items-center ">
                                  <i class="fa-solid fa-square-check f-left me-2 "></i>
                              <span class="">Spare Requested</span>
                              </div>

                              <div class="servicemonthlysparerequested  fw-bolder">
                                  {{all_service_monthly.SpareRequested}}
                              </div>
                          </li>
                          <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center ">
                                <i class="fa-solid fa-truck f-left me-2"></i>
                                <span class="">Spare Allocated</span>
                                </div>

                                <div class="servicemonthlyspareallocated fw-bolder">
                                    {{all_service_monthly.SpareAllocated}}
                                </div>
                            
                        
                        </li>
                            <li class="list-group-item d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center ">
                                    <i class="fa-solid fa-screwdriver-wrench f-left me-2"></i>
                                    <span class="">In Progress</span>
                                    </div>

                                    <div class="servicemonthlyinprogress  fw-bolder">
                                        {{all_service_monthly.InProgress}}
                                    </div>
                                
                            </li>
                    
                          
                        </ul>



                    




                  </div>



                </div>
              </div>




              <div class="col-lg-4">
                <div class="card card-rounded " style="border-radius:5px;border:0.5px solid #e2e2e2;box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;">
                 
                    <div class="card-header py-3" style="background-color: rgba(87, 102, 197, 0.24)">
                        <h5 class="m-0 font-weight-bold mb-3" style="color:#2c2e2f"> <strong>Yearly</strong> </h5>
                    
                    
                        <div class="">




                        
                          
                        

                            <select class="form-control border mb-1" name="yearlyservicedate" id="yearlyservicedate">
                          
                                {% for year in all_years %}
                                {% if year.memodate__year == current_year.year %}
                             
                                <option selected value="{{year.memodate__year}}">{{year.memodate__year}}</option>
                                {% else %}
                             
                                <option value="{{year.memodate__year}}">{{year.memodate__year}}</option>
                                {% endif %}
                                {% endfor %}
                              
                              </select>
  
                              {% if user.is_superuser %}
  
                              <select class="form-control border mb-1" name="yearlyservicebranch" id="yearlyservicebranch">
                                <option value="allbranches">Branches</option>
                                {% for branch in all_branches %}
                                <option value="{{branch}}">{{branch}}</option>
                                {% endfor %}
                                
                              </select>
  
                              {% endif %}
  
                              {% if user.is_superuser or user.userprofile.role == 'Branch Admin' or user.userprofile.role == 'Franchise Admin' %}
  
                              <select class="form-control border mb-1" name="yearlyservicetechnician" id="yearlyservicetechnician">
                                <option value="alltechnician">Tehnician</option>
  
                                {% if user.userprofile.role == 'Branch Admin' or user.userprofile.role == 'Franchise Admin' %}
                                {% for technician in all_technician %}
                                <option value="{{technician}}">{{technician}}</option>
                                {% endfor %}
                                {% endif %}
                                
                              </select>
                              {% endif %}
                  
                        </div>
                    </div>
                 
                 
                    <div class="card-body"  >



                        <ul class="vstack gap-2 list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center justify-content-between" >
                                <div class="d-flex align-items-center text-weight-bold ">
                                    <i class="fa-solid fa-wrench f-left me-2 "></i>
                                <span class="" >Unacknowledged</span>
                                </div>

                                <div class="serviceyearlyunacknowledged  fw-bolder">
                                    {{all_service_yearly.Unacknowledged}}
                                </div>
                            </li>
                            <li class="list-group-item d-flex align-items-center justify-content-between" >
                              <div class="d-flex align-items-center ">
                                  <i class="fa-solid fa-square-check f-left me-2 "></i>
                              <span class="">Spare Requested</span>
                              </div>

                              <div class="serviceyearlysparerequested  fw-bolder">
                                  {{all_service_yearly.SpareRequested}}
                              </div>
                          </li>
                          <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center ">
                                <i class="fa-solid fa-truck f-left me-2"></i>
                                <span class="">Spare Allocated</span>
                                </div>

                                <div class="serviceyearlyspareallocated  fw-bolder">
                                    {{all_service_yearly.SpareAllocated}}
                                </div>
                            
                        
                        </li>
                            <li class="list-group-item d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center ">
                                    <i class="fa-solid fa-screwdriver-wrench f-left me-2"></i>
                                    <span class="">In Progress</span>
                                    </div>

                                    <div class="serviceyearlyinprogress  fw-bolder">
                                        {{all_service_yearly.InProgress}}
                                    </div>
                                
                            </li>
                           
                          
                        </ul>
                    




                  </div>
                </div>
              </div>








           






          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>



<div class="modal fade" tabindex="-1" id="searchdashtable" style="z-index:1000;">
  <div class="modal-dialog">
    <div class="modal-content p-0 w-100">
      <div
        class="modal-header d-flex justify-content-between align-items-center m"
        style="background-color:#4555B9;"
        >
        <h5 class="modal-title text-white"><strong>Search</strong></h5>
       

      </div>
    
      
        <div class="modal-body">

        
           
           <form action="{% url 'servicereport' %}" method="post">
{% csrf_token %}
          <div class="mb-4 ">
              <label class=" mb-2" for="">  <strong>Start Date</strong>      </label>
              <div id="datepicker" 
                        
           class="input-group date datepicker-field" 
           data-date-format="dd-mm-yyyy">
          <input class="form-control " 
          name="startdate"
          autocomplete="off" 
          required
                 type="text"  />
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
          </span>
      </div>
            </div>
            <div class="mb-4 ">
              <label class=" mb-2" for="">  <strong>End Date</strong>      </label>
              <div id="datepicker" 
                        
           class="input-group date datepicker-field" 
           data-date-format="dd-mm-yyyy">
          <input class="form-control " 
          name="enddate"
          autocomplete="off" 
          required
                 type="text"  />
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
          </span>
      </div>
            </div>

            <button type="submit" class="btn btn-primary float-right">Search</button>
            
          </form>


           
         </div>

    </div>
  </div>
</div>



<script >


  // $(document).ready(function () {

    document.addEventListener("DOMContentLoaded",function(){

    let xValues  = {{technician_income.technicians | safe }};
  
    let yValues= {{technician_income.serviceincome | safe }};
    let bgColors= {{technician_income.bg_colors |safe }};

  


  
    function updateChartService() {
      
      console.log(xValues,yValues,bgColors)
  
      var data = {
        labels: xValues ,
        datasets: [{
            data: yValues,
            backgroundColor: bgColors,
            hoverBackgroundColor: bgColors,
        }]
    };
    
    var options = {
        cutoutPercentage: 50, 
        responsive: true,
        maintainAspectRatio: true,
    };
    
    // Get the canvas element
    var ctx = document.getElementById('servicecharttwo').getContext('2d');
  
      var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: options,
    });
    }
    updateChartService()
  });
</script>






<script>
  document.addEventListener('DOMContentLoaded',function () {

 var xValues = {{all_tech | safe }};
 var yValues = {{all_serv_income | safe }};


       console.log("x val",xValues,yValues)
 function updateChart() {
   new Chart("serviceincomechart", {
     type: "bar",
     data: {
       labels: xValues,
       datasets: [
         {
           fill: false,
          //  backgroundColor: 'rgba(54, 162, 235, 0.5)',
          backgroundColor:'rgba(255, 99, 132, 0.9)',
          //  borderColor: 'rgb(255, 99, 132)',
           borderWidth: 3,

           data: yValues,
         },
       ],
     },
     options: {
       maintainAspectRatio: false, // Make the chart responsive
       responsive: true,
       legend: {
         display: false,
       },
       title: {
         display: false,
         text: "Net Promoter Score (NPS)",
       },
       scales: {
         xAxes: [
           {
             ticks: {
               min: 0,
               max: 500,
             },
           },
         ],
         y: {
           beginAtZero: true,
           ticks: {
             min: 0,
           },
         },
       },
     },
   });
 }
 updateChart()
});
 </script>





<script>
  document.addEventListener('DOMContentLoaded',function () {

 var xValues = {{all_tech | safe }};
 var yValues = {{all_serv_prof | safe }};


       console.log("x val",xValues,yValues)
 function updateChart() {
   new Chart("netserviceincomechart", {
     type: "bar",
     data: {
       labels: xValues,
       datasets: [
         {
           fill: false,
           backgroundColor: 'rgba(54, 162, 235, 0.9)',
          // backgroundColor:'rgba(255, 99, 132, 0.5)',
          //  borderColor: 'rgb(255, 99, 132)',
           borderWidth: 3,

           data: yValues,
         },
       ],
     },
     options: {
       maintainAspectRatio: false, // Make the chart responsive
       responsive: true,
       legend: {
         display: false,
       },
       title: {
         display: false,
         text: "Net Promoter Score (NPS)",
       },
       scales: {
         xAxes: [
           {
             ticks: {
               min: 0,
               max: 500,
             },
           },
         ],
         y: {
           beginAtZero: true,
           ticks: {
             min: 0,
           },
         },
       },
     },
   });
 }
 updateChart()
});
 </script>




<script>
  // Ensure this script runs after the DOM is fully loaded
  document.addEventListener('DOMContentLoaded', function () {

      let branches = {{all_tech | safe }};
      let service = {{all_serv_income | safe }};
      let sale = {{all_serv_prof | safe }};
      console.log("\n branches",branches)
    let ctx = document.getElementById('netserviceserviceincomechart').getContext('2d');
    let myChart = new Chart(ctx, {
      type: 'bar', // Define chart type
      data: {
        labels:  branches, // X-axis labels
        datasets: [{
          label: 'Service Income',
          data: service, 
          backgroundColor: 'rgba(255, 99, 132, 0.9)', 
          // borderColor:'rgb(255, 99, 132)',
          borderWidth: 3,
        }, {
          label: 'Net Service Income',
          data: sale,
          backgroundColor: 'rgba(54, 162, 235, 0.9)',
          // borderColor:'rgb(54, 162, 235)',
          borderWidth: 3,
        }]
      },
      options: {
          maintainAspectRatio: false, // Important for fitting
        scales: {
          x: { // X-axis configuration
            stacked: true, // Enable stacking
          },
          y: { // Y-axis configuration
            stacked: true // Enable stacking
          }
        }
      }
    });
  });
</script>
<!-- main-panel ends -->
{% endblock %}
